<h2>Welcome {{user.username}}</h2>

{{#if paths}}
    <p>
        You have started the following learning paths:
    </p>
    {{#each paths}}

        <div>
            <div class="path">
                <h3>{{learningPath.title}}</h3>
                <p>
                    <b class="steps-count"></b>
                    <b class="progress-percentage"></b>    
                </p>
                <div class="progress-bar-container">
                    <div class="progress-bar"></div>
                </div>
                <p>{{learningPath.description}}</p>
                
                <ol>
                    {{#each learningPath.steps}}
                        
                            <li>
                                <h4>
                                    {{#if done}}
                                        <input type="checkbox" checked class="complete-step" data-step-id="{{_id}}" data-path-id="{{../_id}}" data-done="true">
                                    {{else}}
                                        <input type="checkbox" class="complete-step" data-step-id="{{_id}}" data-path-id="{{../_id}}" data-done="false">
                                    {{/if}}
                                    {{title}}
                                </h4>
                                <p><i>{{description}}</i></p>
                                <p>Link: <a href="{{link}}" target="_blank">{{link}}</a></p>
                            </li>
                    
                    {{/each}}
                </ol>

            </div>
        </div>

    {{/each}}
{{/if}}
